<body class="background grey darken-1">


  <div class="background grey darken-2">
    <div class="container">
      <h1 class="center-align">CryptoBob</h1>
      <div class="sub-container center-align">
        <div class="row">
          <div class="col s3"></div>
          <div class="col s6 m6">

            <div id="form" class="card deep-purple lighten-1">
              <div class="card-content grey lighten-2" id="loginCard">

                <div class="row">
                  <div class="usernameInput col s8">
                    <input value="" id="usernameInput" type="text" class="validate">
                    <label class="active" for="usernameInput">username</label>
                  </div>
                </div>
                <div class="row">
                  <div class="passwordInput col s8">
                    <input id="passwordInput" type="password" class="validate">
                    <label class="active" for="password">Password</label>
                  </div>
                </div>
                <button id="submitLog" class="btn waves-effect waves-light" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
              </div>
              <div class="container card-action">
                <button id="login" class="btn waves-effect waves-light" type="login" name="action">Login</button>
                <button id="signup" class="btn waves-effect waves-light" type="signup" name="action">Sign up</button>
              </div>
              {{!-- new sign up card --}}

              <div class="row">
                <div class="col s12">
                  <div class="card" id="signupCard">
                    <div class="card-content #b2dfdb teal lighten-4">
                      <span class="card-title">Create an Account</span>
                      <div class="row">
                        <form class="col s12">
                          <div class="row">
                            <div class="input-field col s6">
                              <input id="first_name" type="text" class="validate">
                              <label class="active" for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                              <input id="last_name" type="text" class="validate">
                              <label class="active" for="last_name">Last Name</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="username" type="text" class="validate">
                              <label class="active" for="Username">Username</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="password" type="password" class="validate">
                              <label class="active" for="password">Password</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="email" type="email" class="validate">
                              <label class="active" for="email">Email</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="number" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="validate">
                              <label class="active" for="phone number">Phone Number</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="defaultCurrency" type="text" pattern="[A-Z]{3}" class="validate"
                                placeholder="USD">
                              <label class="active" for="defaultCurrency">Default Currency (USD, BTC, ETH)</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <button id="submitSign" class="btn waves-effect waves-light" type="submit"
                                name="action">Submit
                                <i class="material-icons right">send</i>
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script>

    $('#signupCard').hide()
    $('#loginCard').show()

    $("#signup").click(function () {
      $("#signupCard").show()
      $('#loginCard').hide()
    });

    $("#login").click(function () {
      $("#signupCard").hide()
      $('#loginCard').show()
    });

    $(document).on('click', '#submitLog', async (event) => {
      event.preventDefault()
      console.log('login attempt');
      sessionStorage.setItem('userName', $('#usernameInput').val());
      sessionStorage.setItem('pass', $('#passwordInput').val());
      let data = {
        userName: $('#usernameInput').val(),
        pass: $('#passwordInput').val()
      }
      try {
        let response = await $.ajax({
          method: "POST",
          url: "http://localhost:3000/api/login",
          data: data

        });

        if (response.code === 1) {
          console.log("valid")
          $(location).attr('href', "http://localhost:3000/account");
        } else {
          alert("wrong userName Or password");
        }
      }
      catch (err) {
        console.log('error 500 no response from server')
        throw err;
      }

    });

    $(document).on('click', '#submitSign', async (event) => {
      event.preventDefault()
      let data = {
        firstName: $('#first_name').val(),
        lastName: $('#last_name').val(),
        userName: $('#username').val(),
        passWord: $('#password').val(),
        eMail: $('#email').val(),
        phoneNumber: $('#number').val(),
        defaultCurrency: $('#defaultCurrency').val()
      }
      sessionStorage.setItem('userName', data.userName);
      sessionStorage.setItem('pass', data.passWord);
      console.log(data)
      let response = await $.ajax({
        method: "POST",
        url: "http://localhost:3000/api/signup",
        data: data

      });
      console.log(response);
      if (response.code === "0") {
        alert(response.res)
      } else {
        $(location).attr('href', "http://localhost:3000/account");
      }
    });


  </script>

</body>