<nav class="deep-purple lighten-1">
    <!-- navbar content here  -->
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img
                        src="https://www.autoassistant.it/directory/wp-content/uploads/2019/06/pexels-photo-949587.jpeg">
                </div>
                <!-- img of user goes here, putting a default img for now -->
                <a href="#!"><img class="circle hoverable"
                        src="https://theme.zdassets.com/theme_assets/2313093/ea2a7a1391be00c66d006290df37177233bd1467.png"
                        id="image"></a>
                <a class="subheader" href="#!"><span class="white-text name" id="userName">User's Name</span></a>
            </div>
        </li>
        <li><a href="/watchlist/:id" class="waves-effect" id="watchlist"><i class="material-icons">trending_up</i>Watchlist</a></li>
        <li><a href="/account/" class="waves-effect"><i class="material-icons">insert_chart</i>Home</a></li>
        <li><a href="/account/news" class="waves-effect"><i class="material-icons">chrome_reader_mode</i>News</a></li>
        <li><a href="/account/notifications/:id" class="waves-effect" id="notifications"><i class="material-icons">error</i>Notifications</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader" href="#!"><i class="material-icons">autorenew</i>Auto Trading (Unavailable)</a></li>
    </ul>
    <div class="hoverable">
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
    </div>
</nav>

{{!-- ==================================================start of watchlist  --}}
<section>

    <div class="container main" style="margin-top: 25px">
        <div class="card grey darken-3" style="padding-bottom: 5vh; padding-left:5vw; padding-right:5vw;">
            <div class="row">
                <div class="col s8">
                    <h3>WatchList</h3>
                </div>
                <div class="col s4"></div>
            </div>
            <div class="row">
                <div class="col s8"></div>
                <div class="col s2"><a class="waves-effect waves-light btn deep-purple lighten-1">Add crypto</a></div>
                <div class="col s2"><a class="waves-effect waves-light btn deep-purple lighten-1">Edit market</a></div>
            </div>
            {{!-- <div class="divider"></div> --}}
            <div class="card grey darken-2">
                <table>
                    <thead class="blue-grey darken-3">
                        <tr>
                            <th>Ticker</th>
                            <td> </td>
                            <td> </td>
                            <th>price</th>
                            <td> </td>
                            <th>Volume </th>
                            <td> </td>
                            <th>% change 24</th>
                            <td> </td>
                        </tr>
                    </thead>
                    {{#each watchlistItem}}
                        <tbody>
                            <tr>
                                <td>
                                    <h5 class="left-align">{{this.ticker}}</h5>
                                </td>
                                <td> </td>
                                <td> </td>
                                <td>
                                    <h5>{{this.currentPrice}}</h5>
                                </td>
                                <td> </td>
                                <td>
                                    <h5>{{this.dayVolume}}</h5>
                                </td>
                                <td> </td>
                                <td>
                                    <h5>{{this.dayChange}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</section>



{{!-- =======================================================end of watchlist --}}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
    });
    // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
    // var collapsibleElem = document.querySelector('.collapsible');
    // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);
    // Or with jQuery
    $(document).ready(function () {
        $('.sidenav').sidenav();

        $('#userName').text(sessionStorage.getItem('userName'));
        $("#watchlist").attr("href", `/account/watchlist/${sessionStorage.getItem('userName')}`);
      $("#notifications").attr("href", `/account/notifications/${sessionStorage.getItem('userName')}`);

    });

</script>