<nav>
    <!-- navbar content here  -->
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img
                        src="https://www.autoassistant.it/directory/wp-content/uploads/2019/06/pexels-photo-949587.jpeg">
                </div>
                <!-- img of user goes here, putting a default img for now -->
                <a href="#!"><img class="circle hoverable"
                        src="https://theme.zdassets.com/theme_assets/2313093/ea2a7a1391be00c66d006290df37177233bd1467.png"
                        id="image"></a>
                <a class="subheader" href="#!"><span class="white-text name" id="name">User's Name</span></a>
                <a class="subheader" href="#!"><span class="white-text email" id="email">User's Email</span></a>
            </div>
        </li>
        <li><a href="#!" class="waves-effect"><i class="material-icons">trending_up</i>Watchlist</a></li>
        <li><a href="#!" class="waves-effect"><i class="material-icons">insert_chart</i>Portfolio</a></li>
        <li><a href="#!" class="waves-effect"><i class="material-icons">chrome_reader_mode</i>News</a></li>
        <li><a href="#!" class="waves-effect"><i class="material-icons">error</i>Notifications</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader" href="#!"><i class="material-icons">autorenew</i>Auto Trading (Unavailable)</a></li>
    </ul>
    <div class="hoverable">
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i>SIDE
            BAR MENU</a>
    </div>
</nav>

{{!-- ==================================================start of watchlist  --}}
<section>
    <div class="container" style="margin-top: 25px">
        <div class="row">
            <div class="h3 col s8 center-align">WatchList</div>
            <div class="col s2"><button>Add crypto</button></div>
            <div class="col s2"><button>Edit watchlist</button></div>
        </div>
        <div class="divider"></div>
</section>

</div>

{{!-- =======================================================end of watchlist --}}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
    });
    // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
    // var collapsibleElem = document.querySelector('.collapsible');
    // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);
    // Or with jQuery
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>